<div class="header-container">
    <div class="container">
        <div class="header-card">
            <div class="header-card-content">
                <div class="avatar-container">
                    <div class="circle avatar"></div>
                </div>
                <div class="information-container">
                    <div class="hello">¿QUÉ TAL?</div>
                    <h1 class="name">Soy <strong>Emmanuel Toledo Castro</strong></h1>
                    <p class="job">Un apasionado Analista y Desarrollador</p>
                    <span class="divider"></span>
                    <div class="container main-information-container">
                        <div class="main-information">
                            <div class="left">
                                <div class="circle">
                                    <i class="fa-solid fa-calendar"></i>
                                </div>
                                <p>NACIMIENTO</p>
                            </div>
                            <div class="right">
                                <p>Abril 30, 1998</p>
                            </div>
                        </div>
                        <div class="main-information">
                            <div class="left">
                                <div class="circle">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <p>DIRECCIÓN</p>
                            </div>
                            <div class="right">
                                <p>Mex., León Gto.</p>
                            </div>
                        </div>
                        <div class="main-information">
                            <div class="left">
                                <div class="circle">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <p>E-MAIL</p>
                            </div>
                            <div class="right">
                                <p>emmanueltoledo1082@gmail.com</p>
                            </div>
                        </div>
                        <div class="main-information">
                            <div class="left">
                                <div class="circle">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <p>TELÉFONO</p>
                            </div>
                            <div class="right">
                                <p>+52 477 8440 182</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-media-container">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-gitlab"></i></a>
            </div>
        </div>
    </div>
</div>