<div class="section-container" class="about-me" id="about-me">
    <h2 class="section-title">Acerca de mí</h2>
    <p class="text">
        ¡Hola! me llamo Emmanuel Toledo, soy ingeniero en la carrera de 
        tecnologías de la información y también una persona apasionada 
        por su carrera que siempre trata de seguir aprendiendo algo nuevo.
    </p>
    <p class="text">
        Me considero una persona adaptable a diferentes proyectos, 
        tratando de dar siempre lo mejor de mi en cada uno de ellos.
    </p>
    <p class="text">
        Mis años de experiencia me han enseñado mucho, pero no 
        por ello me quedo con el conocimiento actual, siempre 
        trato de seguir mejorando en diferentes aspectos de mi vida. 

        Se que nadie nace sabiendo las cosas, por ello siempre me 
        gusta compartir el conocimiento que tengo a cuantas personas 
        se me sea posible.
    </p>
    <p class="text">
        En mis tiempos libres suelo tocar con mi banda de música, 
        además suelo hacer directos en plataformas de Streaming 
        tales como Twitch. Espero este sitio web sea de tu agrado 
        y te de una vista más completa de mí &#128515;.
    </p>
</div>