<div class="section-container" id="what-im-doing">
    <h3 class="section-subtitle">Mi labor profesional</h3>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="process-card first">
                <div class="logo-container">
                    <img class="logo" src="/assets/icons/problem-analysis.svg" alt="Problem analysis" width="50" />
                </div>
                <div class="information-container">
                    <p class="title">Analisis del problema</p>
                    <p class="text">Una parte fundamental de mi trabajo es el analisis del negocio y definición de nuevos requerimientos.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="process-card last">
                <div class="logo-container">
                    <img class="logo" src="/assets/icons/web-design.svg" alt="Web design" width="60" />
                </div>
                <div class="information-container">
                    <p class="title">Diseño web</p>
                    <p class="text">No considerada como mi mejor fortaleza pero siempre trtando de dar la mejor calidad en cada diseño.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="process-card first">
                <div class="logo-container">
                    <img class="logo" src="/assets/icons/backend-development.svg" alt="Backend development" width="50" />
                </div>
                <div class="information-container">
                    <p class="title">Desarrollo backend</p>
                    <p class="text">Dessarrollo del lado de servidor haciendo uso de diferentes patrones de diseño en cada servicio.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="process-card last">
                <div class="logo-container">
                    <img class="logo" src="/assets/icons/web-development.svg" alt="Web development logo" width="50" />
                </div>
                <div class="information-container">
                    <p class="title">Desarrollo Web</p>
                    <p class="text">Alta calidad y profesionalismo en los diferentes sitios web desarrollados para cada proyecto.</p>
                </div>
            </div>
        </div>
    </div>
</div>
