.header-background {
    width: 100%;
    height: var(--header-height);
    background-image: url(/assets/imgs/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2
}

.header-background.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--min-z-index);
}